.navDiv {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.link {
  padding: 10px;
  text-decoration: none;
  color: black;
  position: relative;
}

.active {
  color: rgb(46, 114, 97);
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(46, 114, 97);
  transition: left 0.3s ease, width 0.3s ease;
}
